<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Time is money</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row justify-content-center">
                    <h2><p th:text="'Hello, ' + ${#authentication.name} + '!'" /></h2>
                </div>
                <div class="row justify-content-center">
                    <h1 th:text="'Your finance for ' + ${monthName} + ' ' + ${yearName}"></h1>
                </div>
                <div class="row justify-content-center">
                    <a href="/add">Add record</a>
                </div>

                <table id="finance" class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width: 150px;">Date</th>
                        <th style="width: 200px;">Note</th>
                        <th style="width: 120px">Value</th>
                        <th style="width: 100px">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-primary">
                        <td th:text="${startDate}"/>
                        <td>Balance at the beginning of the month.</td>
                        <td colspan="2" th:text="${startBalance}"/>
                    </tr>
                    <tr th:each="fin : ${finance}">
                        <td th:text="${#dates.format(fin.date, 'MM/dd/yyyy')}"/>
                        <td th:text="${fin.note}"/>
                        <td th:text="${fin.value}"/>
                        <td><a th:href="'/edit/' + ${fin.type} + '/' + ${fin.id}">Edit</a> | <a th:href="'/delete/' + ${fin.type} + '/' + ${fin.id}">Delete</a></td>
                    </tr>
                    <tr class="table-primary">
                        <td th:text="${endDate}"/>
                        <td>Balance at the beginning of the month.</td>
                        <td colspan="2" th:text="${endBalance}"/>
                    </tr>
                    </tbody>
                </table>
                <div class="row justify-content-center">
                    <a th:href="@{/logout}">Sign Out</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>